<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  {% if session.user_id %}
  <p>
    Olet kirjautunut nimellä {{ session.user_id }}
  </p>
  <p>
    Pelien määrä: {{ count }}
  </p>
  <hr />
  {% for game in games %}
  <p>
    {{ game[0] }}
  </p>
  <hr />
  {% endfor %}
  <p>
    <a href="/new">Lisää peli</a>
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    Kirjaudu sisään täällä:
  </p>
  <p>
    <a href="/login">Kirjaudu sisään</a>
  </p>
    Luo uusi käyttäjä täällä:
  </p>
  <p>
    <a href="/register">Luo tunnus</a>
  </p>
  {% endif %}
</body>

</html>